
@{
    /**/

    ViewBag.Title = "Comparaison";
}

@section Scripts
{
    @Scripts.Render("~/bundles/xonomyjs")
    <script type="text/javascript">
        $(document).ready(function () {
            var docSpec = {};
            var editor = document.getElementById("edit");
            console.log("blue" + editor.textContent);
            Xonomy.render(editor.textContent, editor, docSpec);
            if (window.sec == null || window.sec == "( Veuillez choisir un fichier )") {
                $('#container').empty();
            }
            if (window.sec == null || window.sec == "( Veuillez choisir un fichier )") {
                $('#compare').empty();
            }

        })
        $("#versionDropdownList").change(function () {
            window.sec = $("#versionDropdownList option:selected").text();
            if (window.sec == null || window.sec == "( Veuillez choisir un fichier )") {
                $("#container").empty();
            }
            else {
                console.log("heyy" + window.sec);
                $.ajax({
                    type: 'POST',
                    url: '/Home/Comparaison',
                    data: {
                        version_selected: window.sec
                    }
                }).done(function (result) {
                    console.log("done");
                    $('#container').html(result);
                })
            }
        });

        $("#comparer").click(function () {
            if (window.sec == null || window.sec == "( Veuillez choisir un fichier )") {
                alert("choose a version");
                window.location.href = "/Home/AfficheComparaison";
            }
            else {
                Xonomy.harvest();
                $.ajax({
                    type: 'POST',
                    url: '/Home/Compare',
                    data: {}
                }).done(function (result) {
                    console.log("hey " + result);
                    $('#compare').html(result);
                })
            }
        });
        $("#keep").click(function () {
            console.log("keep");
            $.ajax({
                type: 'GET',
                url: '/Home/Index',
                success: function (response) {
                    alert("The current version has been kept");
                    window.location.href = "/Home/Index";
                }
            })
        });
        $("#retrieve").click(function () {
            console.log("keep");
            $.ajax({
                type: 'POST',
                url: '/Home/RetrieveChoosenVersion',
                success: function (response) {
                    alert("Your file has been updated to the choosen version");
                    window.location.href = "/Home/Index";
                }
            })
        });
    </script>
}
@section css
{
    @Styles.Render("~/bundles/xonomycss", "~/bundles/homecss")
}

<h2>Comparaison</h2>

<h4><b>Veuillez choisir quellle version vous voulez comparer avec la version actuelle:</b></h4>
<br />
<div>
    @Html.DropDownList("versionDropdownList",ViewData["versionDropdownList"] as IEnumerable<SelectListItem>,"( Veuillez choisir un fichier )",new { @class = "form-control" })
</div>
<br />
<div class="jumbotron" style="background-color:#E0FFFF;width:98%;height:600px">
    <div class="row " style="padding-left:150px">
        <div class="col-lg-5" style="padding-left:80px">
            <button type="submit" class="btn btn-primary" id="keep">rester avec la version courante</button>
        </div>
        <div class="col-lg-5" style="padding-left:90px">
            <button type="submit" class="btn btn-success" id="retrieve">récupérer la version choisie</button>
        </div>
    </div>
    <div class="row" style="padding:25px; padding-left:150px">
        <div id="edit" class="col-lg-5" style="overflow:scroll ;margin-right:25px; height:400px ; overflow-x:auto ; overflow-y:auto">@Session["actual_xml"]</div>
        <div id="container">@Html.Partial("Comparaison")</div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <button id="comparer" class="btn valider" type="submit" style=" color:white; float:right" data-toggle="modal" data-target=".compare">Comparer</button>
        </div>
    </div>
</div>
<div class="modal fade compare">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="compare">
                    @Html.Partial("Compare")
                </div>
            </div>
        </div>
    </div>
</div>
