
@{
    /**/

    ViewBag.Title = "Comparaison";
}

@section Scripts
{
    @Scripts.Render("~/bundles/xonomyjs")
    <script type="text/javascript">
        $(document).ready(function () {
            var docSpec = {};
            var editor = document.getElementById("edit");
            console.log("blue" + editor.textContent);
            Xonomy.render(editor.textContent, editor, docSpec);
            if (window.sec == null || window.sec == "(select a version)") {
                $('#container').empty();
            }
            if (window.sec == null || window.sec == "(select a version)") {
                $('#compare').empty();
            }

        })
        $("#versionDropdownList").change(function () {
            if (window.sec == "(select a version)") {
                $("#editor").empty();
            }
            else {
                window.sec = $("#versionDropdownList option:selected").text();
                console.log(window.sec);
                $.ajax({
                    type: 'POST',
                    url: '/Home/Comparaison',
                    data: {
                        version_selected: window.sec
                    }
                }).done(function (result) {
                    console.log("done");
                    $('#container').html(result);
                })
            }
        });

        $(".button-sub").click(function () {
            if (window.sec == null || window.sec == "(select a version)") {
                alert("(select a version)");
            }
            else {
                Xonomy.harvest();
                $.ajax({
                    type: 'POST',
                    url: '/Home/Compare',
                    data: {}
                }).done(function (result) {
                    console.log("hey " + result);
                    $('#compare').html(result);
                })
            }
        });
        $("#keep").click(function () {
            console.log("keep");
            $.ajax({
                type: 'GET',
                url: '/Home/Index',
                success: function (response) {
                    alert("The current version has been kept");
                    window.location.href = "/Home/Index";
                }
            })
        });
        $("#retrieve").click(function () {
            console.log("keep");
            $.ajax({
                type: 'POST',
                url: '/Home/RetrieveChoosenVersion',
                success: function (response) {
                    alert("Your file has been updated to the choosen version");
                    window.location.href = "/Home/Index";
                }
            })
        });
    </script>
}
@section css
{
    @Styles.Render("~/bundles/xonomycss", "~/bundles/homecss")
}

<h2>Comparaison</h2>

<div>
    @Html.DropDownList("versionDropdownList", "(select a version)")
</div>
<br />
<div class="cadre">
    <table width="100" style="table-layout: fixed;" class="table ">
        <tr>
            <td align="center" ><button style="margin-left:95px;margin-right:10px" type="submit" class="btn btn-default" id="keep">Keep this version</button></td>
            <td align="center"><button type="submit" class="btn btn-default" style="margin-left:20px; margin-right:160px" id="retrieve">retrieve this version</button></td>
        </tr>
    </table>
    <div class="row" style="padding:25px;padding-left:150px">
        <div id="edit" class="col-md-5" style=" overflow:scroll ;margin-right:25px; height:400px ; overflow-x:auto ; overflow-y:auto">@Session["actual_xml"]</div>
        <div id="container">@Html.Partial("Comparaison")</div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-offset-1">
            <button type="submit" style="margin-bottom:20px;" class="btn button-sub btn-default" data-toggle="modal" data-target=".identical">Compare</button>
        </div>
    </div>
</div>

<div class="modal fade identical">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="compare">
                    @Html.Partial("Compare")
                </div>
            </div>
        </div>
    </div>
</div>
